/*Deafult style*/
body{
    background-color : blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    color:aquamarine
}
h2{
    color: rgb(184, 223, 201)
}
p{
    color: skyblue
}
img{
   width: 200px;
   height: 150px;
}
/*Styles for Moblie Viewport*/
@media (max-width: 600px){
    body{
        background-color: aliceblue;
    }
    h1{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
    h2{
        color: rgb(119, 179, 145)
    }
    img{
        width: 100px;
        height: 70px;
     }
}
/*Styles for Tablet Viewport*/
@media (min-width: 601px) and (max-width: 1024px){
    body{
        background-color: rgb(74, 114, 150);
    }
    h1{
        font-size: 32px;
    }
    p{
        font-size: 18px;
    }
    h2{
        color: rgb(91, 139, 112)
    }
    img{
        width: 170px;
        height: 120px;
     }
}
/*Styles for Desktop Viewport*/
@media (min-width: 1025px){
    body{
        background-color: rgb(54, 69, 82);
        max-width: 800pxl
        margin 0 auto; 
    }
    h1{
        font-size: 48px;
    }
    p{
        font-size: 20px;
    }
    h2{
        color: rgb(35, 122, 73)
    }
    img{
        width: 300px;
        height: 250px;
     }
}